@media screen and (min-width: 480px) {
	.projects ul li {
		width: 50%;
		float: left;
		padding: 0 10px;
	}
}
@media screen and (min-width: 768px) {
	.projects ul li {
		width: 33.333%;
	}
}
@media screen and (min-width: 1100px) {
	.container {
		width: 1100px;
	}
}